:root {
    --dark-magenta-color: hsl(300, 43%, 22%);
    --soft-pink-color: hsl(333, 80%, 67%);
    --dark-grayish-magenta-color: hsl(303, 10%, 53%);
    --light-grayish-magenta-color: hsl(300, 24%, 96%);
    --white-color: hsl(0, 0%, 100%);

    --main-heading-size: 2.5rem;
    --main-heading-line: 0.8;
    --main-heading-letter: -0.08931rem;

    --card-heading-size: 1.0625rem;

    --default-p-size: 1.1875rem;
    --default-p-line: 1.31;
    --default-p-letter: -0.03956rem;

    --quot-p-size: 1.0625rem;
    --quot-p-line: 1.29;
    --quot-p-letter: -0.019rem;

    --hero-section-width: 20rem;
    --hero-section-height: 13.6875rem;

    --review-section-height: 16.625rem;

    --review-card-width: 20.4375rem;

    --testemonial-card-width: 20.4375rem;
    --testemonial-card-height: 15.5rem; 

    --review-item-gap: 0.952rem;

    --testemonial-card-gap: 1.4375rem;

    --testemonial-item-gap: 1rem; 

    --card-border-radius: 0.5rem;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
a,
p,
ul,
li,
blockquote {
    margin: 0;
    padding: 0;   
}

ul {
    list-style: none;

}

body {
    font-family: 'League Spartan', sans-serif;
    background: no-repeat top/contain url("../../assets/bg-pattern-top-mobile.svg"),
                no-repeat bottom/contain url("../../assets/bg-pattern-bottom-mobile.svg");
}

h1, h2, h3 {
    font-family: inherit;
    font-weight: 700;  
}

h2, h3, h4 {
    font-size: var(--card-heading-size);
}

h4 {
    font-family: inherit;
    font-weight: 400;  
}

p {
    font-family: inherit;
    font-weight: 500;
}

h1 {
    color: var(--dark-magenta-color);
    font-size: var(--main-heading-size);
    line-height: var(--main-heading-line);
    letter-spacing: var(--main-heading-letter);
}

h2 {
    color: var(--dark-magenta-color);
}

h3 {
    color: var(--white-color);
}

h4 {
    color: var(--soft-pink-color);
}

p {
    color: var(--dark-grayish-magenta-color);
    font-size: var(--default-p-size);
    line-height: var(--default-p-line);
    letter-spacing: var(--default-p-letter);
}

blockquote p {
    color: var(--white-color);
    font-size: var(--quot-p-size);
    line-height: var(--quot-p-line);
    letter-spacing: var(--quot-p-letter);
}

.attribution {
    text-align: center;
    padding: 0.5rem 0;
}

.attribution p {
    font-size: 1rem;
}

.attribution a {
    color: var(--dark-magenta-color);
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}

.grid {
    display: grid;
    grid-template-rows: 18.75rem 22.125rem 54.6875rem;
    grid-template-columns: 1fr;
    justify-items: center;
}

/* Hero section */
.hero {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    justify-content: space-between;
    align-self: flex-end;
    width: var(--hero-section-width);
    height: var(--hero-section-height);    
}

/* Review section */
.review {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    align-self: center;
}

.review__items {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: var(--review-section-height);
}

.review__item {
    display: flex;
    flex-flow: column-reverse nowrap;
    background-color: var(--light-grayish-magenta-color);
    width: var(--review-card-width);
    justify-content: center;
    align-items: center;
    border-radius: var(--card-border-radius);
    gap: var(--review-item-gap);
    padding: 1rem 3.4375rem 0.9375rem 3.4375rem;
}

.review__score {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 7.284rem;
}

/* Testemonial section */
.testemonial {
    display: flex;
    flex-flow: column nowrap;
    grid-column: 1 / 1;
    grid-row: 3 / 3;
    gap: var(--testemonial-item-gap);
}

.card {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--dark-magenta-color);
    width: var(--testemonial-card-width);
    height: var(--testemonial-card-height);
    border-radius: var(--card-border-radius);
    justify-content: space-between;
    padding: 2.5rem 2rem 2.1875rem 2rem;
}

.profile__illustration img {
    width: 2.5rem;
    border-radius: 50%;
}

.card__profile {
    display: flex;
    flex-flow: row nowrap;
    height: 2.5rem;
    align-items: center;
    gap: var(--testemonial-card-gap);
}

.profile__name {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

/* Desktop breakpoint */
@media screen and (min-width: 90em) { 
    :root {
        --hero-section-width: 27.8125rem;
        --hero-section-height: 100%;

        --main-heading-size: 3.5rem;
        --main-heading-line: 0.857;
        --main-heading-letter: -0.125rem;

        --review-item-gap: 2.028rem;

        --review-section-height: 12.5rem; 

        --review-card-width: var(--hero-section-width);

        --testemonial-card-width: 21.875rem;
        --testemonial-card-height: 14.625rem;
        --testemonial-item-gap: 1.875rem; 
    }

    body {
        height: 100vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        background: left 0% top 0% / 46% url("../../assets/bg-pattern-top-desktop.svg") no-repeat,
                    right 0% bottom 0% / 76% url("../../assets/bg-pattern-bottom-desktop.svg") no-repeat;
    }

    .grid {
        display: grid;
        grid-template-rows: 15.3125rem 1fr;
        grid-template-columns: 1fr 1fr;
        max-width: 69.375rem;
        margin: 0 auto;
        gap: 4.4375rem;
    }

    /* Hero section */
    .hero {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        text-align: left;
        margin: 0;
        align-self: flex-start;
        justify-self: start;
    }

    /* Review section */
    .review {
        grid-column: 2 / 2;
        grid-row: 1 / 1;
    }

    .review__items {
        display: flex;
        flex-flow: column nowrap;
        width: 33.75rem;
    }

    .review__item { 
        flex-flow: row-reverse nowrap;
        justify-content: start;
        padding: 1.256rem 0 1.25rem 2rem;
    }

    .review__item:nth-child(1) {
        align-self: start;
    }

    .review__item:nth-child(2) {
        align-self: center;
    }

    .review__item:nth-child(3) {
        align-self: end;
    }

    /* Testemonial section */
    .testemonial {
        flex-flow: row nowrap;
        grid-column: 1 / span 2;
        grid-row: 2 / 2;
        height: 16.625rem;
    }

    .testemonial__card:nth-child(1) {
        align-self: start;
    }

    .testemonial__card:nth-child(2) {
        align-self: center;
    }

    .testemonial__card:nth-child(3) {
        align-self: end;
    }

    .attribution {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
    }

    .attribution p {
        font-size: 1.2rem;
    }

}